{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/dolores-park.jpg" width="100%">
		<h2>Nichanan Kesonpat</h2>
		<p>A journal on life, work, and everyday curiosities.</p>
	</div>
	<div>
		<p> I use this space as a platform to share my thoughts, learning experiences, and photography. My blog posts will generally fall under the broad categories of life updates, educational posts (about both technology and art) and essays about my thoughts on current events. Here is more about me. <hr>

		I am doing a lot of self-learning about the blockchain space and how this technology will affect our lives. In an effort to solidify my understanding, I collate the fundamental ideas and present them in a step-by-step manner on my blog. Although my formal education was in the sciences I have since adopted a more interdisciplinary approach to self-development, driven mainly by curiosity. I'm quite active on Twitter as well as community forums participating in discussions about interesting blockchain projects.</p>

		Medium: <a href="https://medium.com/@nichanank">@nichanank</a>
		<br>
		Twitter: <a href="https://twitter.com/nichanank">@nichanank</a>
	
	</div>
</div>
